<body>
  <mat-card>
    <br />
    <b><span class="span-dash">Dashboard</span></b>
    <div class="row">
      <div class="column">
        <div class="card">
          <div class="container mx-auto mt-4">
            <h2 class="title">Total des categories:</h2>
            <h1 class="title">{{ data?.category }}</h1>
            <p>
              <button class="button" [routerLink]="['/dashboard/category']">
                Voir categories
              </button>
            </p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="container">
            <h2 class="title">Total des produits:</h2>
            <h1 class="title">{{ data?.product }}</h1>
            <p>
              <button class="button" [routerLink]="['/dashboard/produit']">
                Voir produits
              </button>
            </p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="container">
            <h2 class="title">Total des billets:</h2>
            <h1 class="title">{{ data?.bill }}</h1>
            <p>
              <button class="button" [routerLink]="['/dashboard/bill']">
                Voir billets
              </button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
  <br />
</body>
