<body>
   <mat-card>
      <b><span>Dashboard</span></b>
   </mat-card>
   <br>
   <div class="row">
      <div class="column">
         <div class="card">
            <div class="container  mx-auto mt-4">
               <h2 class="title">Total categories:</h2>
               <h1 class="title">{{data?.category}}</h1>
               <p><button class="button" [routerLink]="['/category']">Voir tous les categories</button></p>
            </div>
         </div>
      </div>
      <div class="column">
         <div class="card">
            <div class="container">
               <h2 class="title">Total produit:</h2>
               <h1 class="title">{{data?.product}}</h1>
               <p><button class="button" [routerLink]="['/product']">Voir tous les produits</button></p>
            </div>
         </div>
      </div>
      <div class="column">
         <div class="card">
            <div class="container">
               <h2 class="title">Total bill:</h2>
               <h1 class="title">{{data?.bill}}</h1>
               <p><button class="button" [routerLink]="['/bill']">Voir tous les billets</button></p>
            </div>
         </div>
      </div>
   </div>
</body>