.title-center{
  flex: 1 1 auto;
  text-align: center;
}
mat-form-field{
  padding: 5px;
  width: 100%;
}

.tolbar {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}
.primary {
  background-color: #000117;
  color: rgb(255, 255, 255);
}
/* mat-dialog-actions,button{
  justify-content: space-evenly;
} */