mat-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 300px;
    flex-flow: row wrap;
    object-fit: cover;
    width: 100%;
    margin: 1rem;
    padding: 5px;
     /* height: 80vh; */
  }