<mat-dialog-content class="mat-typographie">
    <form [formGroup]="changePasswordForm">
        <div fxFlex fxLayout="column">
            <mat-form-field appearance="fill" fxFlex>
                <mat-label>Email</mat-label>
                <input matInput formControlemail="email" required>
                <mat-error
                    *ngIf="changePasswordForm.controls.email.touched && changePasswordForm.controls.email.invalid">
                    <span *ngIf="changePasswordForm.controls.email.errors.required">This field is mandatory</span>
                    <span *ngIf="changePasswordForm.controls.email.errors.pattern">This field is invalid</span>
                </mat-error>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-raised-button color="primary" type="submit" (click)="handleChangePasswordSubmit()"
        [disabled]="!changePasswordForm.valid && changePasswordForm.dirty">Send password</button>
    <button mat-raised-button color="warn" mat-dialog-close>Close</button>
</mat-dialog-actions>