mat-toolbar {
    display: flex;
    justify-content: space-between;
    padding: 0 64px;
    background: #d1d3dd;
}

mat-toolbar,
a {
    text-decoration: none;
}

li {
    display: inline;
    padding-left: 0.8rem;
}

active-link {
    color: white;
}

span {
    margin-left: 24px;
}

img {
    width: 100%;
}

.mat-icon {
    height: 20px ;
    width: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;  
    border-radius: 1px;
    align-content: space-between;
}

li,
.mat-icon {
    gap: 1rem;
}