<mat-toolbar>
    <span>
        <a routerLinkActive="active-link" routerLink="/">
            <span>
                <mat-icon class="icon">dashboard</mat-icon>&nbsp;Bienvenu
            </span>
        </a>
    </span>
    <ul>
        <li><a (click)="loginAction()" routerLinkActive="list-item-active" ><mat-icon>account_circle</mat-icon>&nbsp;Se connecter</a></li>
        <li><a (click)="signupAction()" routerLinkActive="list-item-active"><mat-icon>person_add</mat-icon>&nbsp;Créer compte</a></li>
        <li><a (click)="forgotPasswordAction()" routerLinkActive="list-item-active"><mat-icon>password</mat-icon>&nbsp;
            Mot de passe oublié</a></li>
    </ul>
</mat-toolbar>
<section>
    <div class="example-sidenav-content">
        <router-outlet></router-outlet>
    </div>
    <img src="../../assets/images/ewa.jpg" alt="">
</section>